/* NAVBAR */
.navbar 
{
display:grid;
align-items: center;
grid-template-columns: 6fr 2fr 0fr 0fr;

}

.navbar a 
{
border-top:3px solid transparent;    
padding: 2rem;
text-align: center;
}
#navbar-link-accomodation a 
{
  color: #0065fc;
}
#navbar-link-accomodation a:first-child
{
 border-top-color: #0065fc; 
}
.navbar :not(:last-child) a:hover
{
border-top-color: #0065fc;
}
.navbar .navbar div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#logo
{
margin-right: auto;
padding: 0rem 2rem;
}
#navbar-sign-up
{
font-weight: bold;
color:#0065fc;
}

.navbar .navbar {
display:flex;
}
.navbar a:hover {
  color: #0065fc;
}
.header
{
margin: auto;
}

@media screen and (max-width:600px) {
  
  .navbar .navbar .navbar-link  {
  
  border-top: none;
  border-bottom: 3px solid #f2f2f2;
  width: 100%;
  }
  .navbar .navbar .navbar-link a:hover
  {
  border-bottom-color:blue ;
  border-top: transparent;
  }
  #navbar-link-accomodation a:first-child
{
 border-top-color:transparent; 
}
}
@media  screen and (max-width:600px){
.navbar
{
display:flex; 
font-weight: 500;
text-align: center;
flex-wrap: wrap;
order: 1;
}
  }
