/* NAVBAR */
.navbar 
{
display:grid;
justify-content: center;
align-items: center;
grid-template-columns: 6fr 2fr 0fr 0fr;
grid-template-areas: "logo signup"
"subnav";
}

.navbar a 
{
border-top:3px solid transparent;    
padding: 2rem;
text-align: center;
}
/* .navbar .navbar div:first-child
{
display: flex;
color: #0065fc;
border-top: 3px solid #0065fc; */
#navbar-link-accomodation a 
{
  color: #0065fc;
}
#navbar-link-accomodation a:first-child
{
 border-top-color: #0065fc; 
}
.navbar :not(:last-child) a:hover
{
border-top-color: #0065fc;
}
.navbar .navbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#logo
{
margin-right: auto;
padding: 0rem 2rem;
}
#navbar-sign-up
{
font-weight: bold;
color:#0065fc;
}

.navbar .navbar {
display:flex;
}
.navbar a:hover {
  color: #0065fc;
}
.header
{
margin: auto;
}

@media screen and (max-width:600px) {
  
  .navbar .narbar {
    order: 1;
    flex-basis: 100%;
  } 
 
  .navbar .navbar a {
  flex-basis: 50%;
  width: 100%;
  border-bottom: 3px solid #f2f2f2;
  }
  .navbar .navbar a:hover
  {
  border-bottom-color:blue ;
  border-top: transparent;
  }
  #navbar-link-accomodation a:first-child
{
 border-top-color:transparent; 
}
}
@media  screen and (max-width:600px){
.navbar.navbar
{
display:grid;  
grid-auto-flow: column;
grid-template-columns: 1fr 1fr;
grid-template-areas: " logo navbar-sign-up",
"navbar-link-accomodation navbar-link-activities";
}
  }
