/*  POPULAR */
.popular 
{
display: flex;
flex-direction: column;

}
.apartments-list .popular-flex
{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content:space-between;
}

@media (max-width:800px)
{
.apartments-list .popular-flex {
 flex-direction: row;
 } 
}