@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


*
{
  font-family: "Raleway", "sans-serif";
  box-sizing: border-box;
}
body
{
  margin:0;
}

a
{
color: initial;
text-decoration: none;
}
/* NAVBAR */
nav 
{
display:flex;
align-items: center;
justify-content: flex-end;
flex-wrap: wrap;
}
nav a 
{
border-top:3px solid transparent;    
padding: 2rem;
text-align: center;
}

nav a:hover
{
  border-top-color: #0065fc;
}
#logo
{

margin-right: auto;
padding: 0rem 2rem;
}
.signup
{
font-weight: bold;
color:#0065fc;
}

.sub-nav {
  display:flex;
}
.sub-nav a:hover
{
  color:blue;
}
@media (max-width:992px) {
  .sub-nav {
    order: 1;
    flex-basis: 100%;
  } 
  .sub-nav a {
  flex-basis: 50%;
  border-bottom: 3px solid #f2f2f2;
  }
  .sub-nav a:hover
  {
  border-bottom-color:blue ;
  border-top: transparent;
  }
}
/* BODY */
.wrapper
{
  padding:0 2rem;
}
.wrapper p {

margin-bottom: 1rem;
}

/* SEARCH-FORM */
.search-form {
display: flex;
font-size: 1.2rem;
padding: 1rem 1.5rem;
}
.search-form > * {

  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}
.search-form i
{
padding: 1rem 1.2rem;
background-color: #f2f2f2;
border-radius: 1rem 0 0 1rem;
text-align: center;
}

.search-form input
{
  flex-basis: 16rem;
  border: 1px solid #f2f2f2;
  overflow: auto;
}
.search-form input::placeholder 
{
  font-size: 1rem;
  color: #00000069;
  padding: 1rem 1.5rem;
}
.search-form button 
{
  background-color:#0065fc;
  color: white;
  font-weight: bold;
  border-radius: 0 1rem 1rem 0;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  transform: transform 200ms;
}
.search-form button:hover
{
  opacity: 1;
  transform:scale(1.05);
}
.fas.fa-search
{
 display:none; 
 border-radius: 0 1rem 1rem 0;
}

@media (max-width:800px)
{
  .search-form .search-text
  {
    display: none;
  }
  .fas.fa-search {
    display: inline;
    background-color:inherit;
  }
}

/* FILTERS */
.filter-list
{
  display: flex;
  align-items: center;
  gap: 1rem 2rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.filter-list h1
{
margin-bottom: 0;
}
.filter
{
display: flex;
border-radius: 2rem;
border: 2px solid #f2f2f2;
align-items: center;
}
.filter .fas{
display: flex;
align-items: center;
justify-content: center;
color:#0065fc;
background-color: #DEEBFF;
width: 3rem;
height: 3rem;
border-radius: 50%;
margin: -2px;
transition: all 100ms;
}

.filter span 
{
  font-weight: bold;
  padding: 0rem 1rem;
}
.filter:hover
{
background: #f3f8ff;
transform: scale(1.02);
}

/* RESULTS MESSAGE */
.results-message
{
  display: flex;
  align-items: center;
}

.results-message .fas 
{
display: flex;
align-items: center;
justify-content: center;
color: #0065fc;
width: 2rem;
height: 2rem;
border: solid 1px #d9d9d9;
border-radius: 50%;
margin-right: 16px;
}
/* APPARTENTS LIST */
.apartments-list
{
  display: flex;
  gap: 1rem;
}
.apartments-list > div
{
  background-color: #d9d9d9;
  padding: 1rem;
  border-radius: 0.5rem;
}
.apartments-list .city
{
  flex-basis: 66%;
}
.apartments-list .popular
{
  flex-basis: 33%;
}
.apartments-list .city a
{
font-weight: bold;
}


@media (max-width:1000px)  
{
  .apartments-list
  {
  flex-direction:column;
  
  }
  .popular
  {
  order: -1;  
  }
}

/* LIST APPARTEMENTS CITY */
.city-apartments-list
{
  display: flex;
  flex-wrap:wrap;
  gap: 1rem;
  justify-content: space-around;
  margin-bottom: 1rem;
}

/*  POPULAR */
.popular 
{
display: flex;
flex-direction: column;

}
.apartments-list .popular-flex
{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  flex-basis: 100%;
justify-content: space-evenly;
}

@media (max-width:800px)
{
.apartments-list .popular-flex {
 flex-direction: row;
 } 
}

/* APARTMENT CARD */
.apartment-card
{
  flex-grow: 1;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0 0 16px #0000002e;
  flex-basis: 30%;
  min-width: 15rem;
}
.apartment-card:hover 
{
 transform: scale(1.02);
 box-shadow: 3px 5px 11px -5px #000000; 
}
/* APARTMENT IMAGE  */

.apartment-card img
{
border-radius: 1rem 1rem  0  0;
height: 10rem;  
width: 100%;
object-fit: cover;
object-position: top;

}
.apartment-card p, 
.apartment-card h3,
.popular-description p, 
.popular-description h3
{
margin: 0.2rem;
}
.blue
{
color: #0065fc; 
}
.popular h3 
{
  display: flex;
  justify-content: space-between;
}

.grey
{
color: #f2f2f2;
}
/* POPULAR CARD */

.popular-card.apartment-card img
{
height: auto;
border-radius: 1rem 0 0 1rem;
width: 40%;
margin-right: 1rem;
}
.popular-description
{
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.popular-card {
  display: flex;
  min-width: 15rem;
  max-height: 10rem ;
}
.popular-card .stars
{
  margin-top: auto;
}
.popular h3, 
.city h3
{
  margin-top: 0.5rem;
}