/* NAVBAR */
nav 
{
display:flex;
align-items: center;
justify-content:flex-end;
flex-wrap: wrap;
min-width: 330px;
}

nav a 
{
border-top:3px solid transparent;    
padding: 2rem;
}
nav a:nth-child(1n+3) 
{
font-weight: bold;
color:#0065fc;
}
nav :first-child a 
{
  color: #0065fc;
  border-top-color: #0065fc; 
}
.navbar .sub-nav {
  display:flex;
  }
.navbar a:hover {
    color: #0065fc;
  }
.navbar :not(:last-child) a:hover
{
border-top-color: #0065fc;
}
#logo
{
display: flex;
cursor: pointer;
margin-right: auto;
}


.header
{
margin: auto;
}