/* NAVBAR */
nav 
{
display:flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
min-width: 330px;
font-weight: 500;
}
.navbar .sub-nav
{
  display: flex;
}
nav a 
{
border-top:3px solid transparent;    
padding: 2rem;
}
.navbar-link.active-link
{
  color: #0065fc;
  border-top-color: #0065fc; 
}

.navbar a:hover {
    color: #0065fc;
  }

.navbar :not(:last-child) a:hover
{
border-top-color: #0065fc;
}

#logo
{
cursor: pointer;
margin-right: auto;
margin-left: 2rem;
}


