/* NAVBAR */
nav 
{
display:flex;
align-items: center;
justify-content:flex-end;
flex-wrap: wrap;
min-width: 330px;
}

nav a 
{
border-top:3px solid transparent;    
padding: 2rem;
}
nav a:nth-child(1n+3) 
{
font-weight: bold;
color:#0065fc;
}
nav :first-child a 
{
  color: #0065fc;
  border-top-color: #0065fc; 
}
.navbar .sub-nav {
  display:flex;
  }
.navbar a:hover {
    color: #0065fc;
  }
.navbar :not(:last-child) a:hover
{
border-top-color: #0065fc;
}
#logo
{
display: flex;
cursor: pointer;
margin-right: auto;
}


.header
{
margin: auto;
}

@media screen and (max-width:630px) {
.navbar .sub-nav
{
display:flex; 
justify-content:space-around;
font-weight: 500;
flex-wrap: wrap;
order: 1;
flex-basis: 100%;
padding: 1rem;
}
.navbar .sub-nav .navbar-link {
  border-top: transparent;
  border-bottom: 3px solid #F2F2F2;
  flex-basis: 50%;
  transition-duration: 0.1s;
}
.navbar .sub-nav .navbar-link.active-link
{
  border-bottom: 3px solid #0065fc; 
}
.navbar .sub-nav .navbar-link:hover {
  
  border-bottom: 3px solid #0065fc; 
  
}
.navbar .sub-nav a {
flex-basis: 50%;
text-align: center;
}
}
@media screen and (max-width:434px) {
  nav{
    margin: auto;
  }
  nav a {
    padding: 0;
  }
 #logo
 {
  padding: 0 0 0 0;
  margin-right: 4rem;
 }
}
@media screen and (max-width:330px) {
  nav{
    justify-content: center;
  }
 
}