/* SEARCH-FORM */
.search-form {
    display: flex;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    }
    .search-form > * {
    
      padding: 1rem 1.5rem;
      font-size: 1.2rem;
    }
    .search-form i
    {
    padding: 1rem 1.2rem;
    background-color: #f2f2f2;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    }
    
    .search-form input
    {
      flex-basis: 16rem;
      border: 1px solid #f2f2f2;
      overflow: auto;
    }
    .search-form input::-webkit-input-placeholder 
    {
      font-size: 1rem;
      color: #00000069;
      padding: 1rem 1.5rem;
    }
    .search-form input::-moz-placeholder 
    {
      font-size: 1rem;
      color: #00000069;
      padding: 1rem 1.5rem;
    }
    .search-form input:-ms-input-placeholder 
    {
      font-size: 1rem;
      color: #00000069;
      padding: 1rem 1.5rem;
    }
    .search-form input::-ms-input-placeholder 
    {
      font-size: 1rem;
      color: #00000069;
      padding: 1rem 1.5rem;
    }
    .search-form input::placeholder 
    {
      font-size: 1rem;
      color: #00000069;
      padding: 1rem 1.5rem;
    }
    .search-form button 
    {
      background-color:#0065fc;
      color: white;
      font-weight: bold;
      border-radius: 0 1rem 1rem 0;
      padding: 1rem 1.5rem;
      border: none;
      cursor: pointer;
      opacity: 0.9;
      transition: transform 200ms;
      -webkit-transition: transform 200ms;
      -moz-transition: transform 200ms;
      -ms-transition: transform 200ms;
      -o-transition: transform 200ms;
}
    .search-form button:hover
    {
      opacity: 1;
      transform:scale(1.05);
    }
    .fas.fa-search
    {
     display:none; 
     border-radius: 0 1rem 1rem 0;
    }
    