/* WILDCARD */
*
{
  font-family: "Raleway", "sans-serif";
  box-sizing: border-box;
}
body
{
margin: 0;
}
main
{
margin:auto;
max-width: 1440px;
padding: 0 2rem;
box-sizing: border-box;
}


a
{
color: initial;
text-decoration: none;
}

main p {

margin-bottom: 1rem;
}
section
{
min-width: 320px;
}

.container
{
  display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    overflow: auto;
    align-content: center;
    flex-direction: column;
    justify-content: center;
} 
