/* WILDCARD */
*
{
  font-family: "Raleway", "sans-serif";
  box-sizing: border-box;
}
body
{
margin: 0;
}
main
{
margin:0 auto;
max-width: 1440px;
padding: 0 2rem;
}


a
{
color: initial;
text-decoration: none;
}

main p {

margin-bottom: 1rem;
}
.wrapper
{
 padding: 8px 16px; 
 overflow: hidden; 
}
