/* NAVBAR */
@media screen and (max-width: 630px) {
  .navbar .sub-nav {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    flex-wrap: wrap;
    order: 1;
    flex-basis: 100%;
    padding: 0;
  }
  .navbar .sub-nav .navbar-link {
    border-top: transparent;
    flex-basis: 50%;
    padding-bottom: 1rem;
  }
  .navbar-link.link
  {
  border-bottom: 3px solid #f2f2f2;
  width: 50%;
  }
  .navbar .sub-nav .navbar-link.active-link {
    border-bottom: 3px solid #0065fc;
  }
  .navbar .sub-nav .navbar-link:hover {
    border-bottom: 3px solid #0065fc;
  }
  .navbar .sub-nav a {
    text-align: center;
  }
}
@media screen and (max-width: 434px) {
  nav a {
    padding: 0;
  }
  #logo {
    cursor: pointer;
    margin:0;
    padding: 2rem;
  }
}


/* APPARTENTS LIST */

@media screen and (max-width: 1440px) {
  .apartments-list {
    flex-direction: column;
  }
  .popular {
    order: -1;
    flex-basis: 100%;
  }
}

/* POPULAR CARD */

@media screen and (max-width: 1070px) {
  .popular-card {
    display: flex;
    min-width: 25rem;
    max-height: 10rem;
  }
}
@media screen and (max-width: 506px) {
  .popular-card {
    display: flex;
    min-width: 10rem;
    max-height: 10rem;
    overflow: auto;
  }
}

/* SEARCH-FORM */
@media screen and (max-width: 992px) {
  .search-form .search-text {
    display: none;
  }
  .fas.fa-search {
    display: inline;
    background-color: inherit;
  }
}

/*  POPULAR */

@media screen and (max-width: 931px) {
  .apartments-list .popular-flex {
    flex-direction: row;
  }
}
@media screen and (max-width: 300px) {
  .popular {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}

/* Activities */

@media screen and (max-width: 1500px) {
  .activities-list {
    grid-template-rows: repeat(auto-fit, 15rem);
  }

  .activities-list > * {
    grid-column: span 1;
    grid-row: span 1;
    height: 15rem;
  }
}
@media screen and (max-width: 1230px) {
  .activities-list {
    grid-template-columns: 1fr;
  }
}
