/* NAVBAR */
@media screen and (max-width: 630px) {
  .navbar .sub-nav {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    flex-wrap: wrap;
    order: 1;
    flex-basis: 100%;
    padding: 0;
  }
  .navbar .sub-nav .navbar-link {
    border-top: transparent;
    flex-basis: 50%;
    padding-bottom: 1rem;
  }
  .navbar-link.link
  {
  border-bottom: 3px solid #f2f2f2;
  width: 50%;
  }
  .navbar .sub-nav .navbar-link.active-link {
    border-bottom: 3px solid #0065fc;
  }
  .navbar .sub-nav .navbar-link:hover {
    border-bottom: 3px solid #0065fc;
  }
  .navbar .sub-nav a {
    text-align: center;
  }
}
@media screen and (max-width: 434px) {
  nav a {
    padding: 0;
  }
  #logo {
    cursor: pointer;
    margin:0;
    padding: 2rem;
  }
}


/* APPARTENTS LIST */

@media screen and (max-width: 1000px) {
  .apartments-list {
    flex-direction: column;
  }
  .popular {
    order: -1;
    flex-basis: 100%;
  }
}

/* POPULAR CARD */

@media screen and (max-width: 1070px) {
  .popular-card {
    display: flex;
    max-height: 10rem;
  }
}
@media screen and (max-width: 506px) {
  .popular-card {
    display: flex;
    min-width: 11rem;
    max-height: 10rem;
    overflow: auto;
  }
}

/* SEARCH-FORM */
@media screen and (max-width: 992px) {
  .search-form .search-text {
    display: none;
  }
  .fas.fa-search {
    display: inline;
    background-color: inherit;
  }
}

/*  POPULAR */

@media screen and (max-width: 931px) {
  .apartments-list .popular-flex {
    flex-direction: row;
  }
}
@media screen and (max-width: 300px) {
  .popular {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}

/* Activities */

 @media screen and (min-width: 1100px){
.activity {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
}
.card1
{
grid-row: 2 / 7;
grid-column: 1 / 2;
}
.card2
{
grid-column: 2 / 3;
grid-row: 2 / 5; 
}
.card3
{
grid-column: 3 / 4;
grid-row: 2 / 7;
}  
.card4 {
grid-column: 4 / 5;
grid-row: 2 / 3;
}
.card4
{
grid-column: 2 / 3;
grid-row: 6 / 7;
} 
.card6
{
grid-column: 4 / 5;
grid-row: 4 / 7;     
}
}
@media screen and (max-width: 1100px){

.activity
{
 row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 12rem 12rem;   
}
}
  

@media screen and (max-width: 925px){

  .activity
  {
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 12rem 12rem 12rem;  
  }
}
  

@media screen and (max-width: 650px){

  .activity
  {
    row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;}
  }
  
 