/* Activities */



.activity-img
{
position: absolute;
height: 100%;
width: 100%;
object-fit: cover;
}
.activityCardWrapimg 
{
position: relative;
flex: 1;
}
.activity {
    display: grid;
    column-gap: 2rem;
    margin: 4rem 0;
}
.activity-Title
{
grid-column: 1/-1;
}
.activity-card {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
}
.activity-sub-title
{
margin: 1.2rem 1.5rem;
}