/* APARTMENT CARD */
.apartment-card
{
  flex-grow: 1;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0 0 16px #0000002e;
  flex-basis: 30%;
  width: 1rem;
}
.apartment-card h3
{
  overflow: auto;
}
.apartment-card:hover 
{
 transform: scale(1.02);
 box-shadow: 3px 5px 11px -5px #000000; 
}
/* APARTMENT IMAGE  */

.apartment-card img
{
border-radius: 1rem 1rem  0  0;
height: 6rem;  
width: 100%;
}
.apartment-card p, 
.apartment-card h3,
.popular-description p, 
.popular-description h3
{
margin: 0.2rem;
}
.blue
{
color: #0065fc; 
}
.popular h3 
{
  display: flex;
  justify-content: space-between;
}

.grey
{
color: #f2f2f2;
}
