/* APPARTENTS LIST */
.apartments-list
{
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.apartments-list > div
{
  background-color: #d9d9d9;
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 1.5rem;
}
.city-apartments-list
{
  display: flex;
  flex-wrap:wrap;
  gap: 1rem;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.apartments-list .popular
{
  flex-basis: 33%;
}

/* LIST APPARTEMENTS CITY */

.apartments-list .city
{
  flex-basis: 66%;
}
.apartments-list .city a
{
display: flex;
align-items: center;
font-weight: bold;
padding-top: 1rem;
}
.city-apartments-list div
{
  flex-basis: 250px;
}