/* FILTERS */
.filter-list
{
  display: flex;
  align-items: center;
  gap: 1rem 2rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.filter-list h1
{
margin-bottom: 0;
}
.filter
{
display: flex;
border-radius: 2rem;
border: 2px solid #f2f2f2;
align-items: center;
}
.filter .fas{
display: flex;
align-items: center;
justify-content: center;
color:#0065fc;
background-color: #DEEBFF;
width: 3rem;
height: 3rem;
border-radius: 50%;
margin: -2px;
transition: all 100ms;
}

.filter span 
{
  font-weight: bold;
  padding: 0rem 1rem;
  cursor: pointer;
}
.filter:hover
{
background: #f3f8ff;
transform: scale(1.02);
}