/*  POPULAR */
.popular 
{
display: flex;
flex-direction: column;

}
.apartments-list .popular-flex
{
  display:inline-flex;
  row-gap: 1rem;
  flex-wrap: wrap;
  flex-basis: 87%;
  justify-content:center;
}
.popular h2
{
  display: flex;
  justify-content: space-between;
}