/* POPULAR CARD */

.popular-card.apartment-card img
{
height: auto;
border-radius: 1rem 0 0 1rem;
width: 40%;
margin-right: 0.5rem;
-o-object-fit: cover;
   object-fit: cover;

}
.popular-description
{
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.popular-card {
  display: flex;
  min-width: 19rem;
  max-height: 10rem ;
  
}
.popular-card .stars
{
  margin-top: auto;
}
.popular h3, 
.city h3
{
  margin-top: 0.5rem;
}