/* RESULTS MESSAGE */
.results-message
{
  display: flex;
  align-items: center;
}

.results-message .fas 
{
display: flex;
align-items: center;
justify-content: center;
color: #0065fc;
width: 2rem;
height: 2rem;
border: solid 1px #d9d9d9;
border-radius: 50%;
margin-right: 16px;
}